.plugins-checkbox-groupitem-container {
  width: 375px;
	height: 40px;
  background-color: #ffffff;
  position: relative;

  .plugins-checkbox-groupitem-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    margin-left: 17px;
    height: 39px;
    line-height: 39px;
    font-size: 14px;
    color: #223b53;
    border-bottom: 1px solid #eef3f7;
    span {
      font-size: 14px;
	    color: #f15d59;
    }
  }

  .plugins-checkbox-groupitem {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 39px;
    border-bottom: 1px solid #eef3f7;
  }
}

.plugins-checkbox-group-container {
  height: 39px;
  .item-label {
    padding-right: 15px;
  }
}

.plugins-checkbox-container {
  height: 39px;
  line-height: 39px;
  display: inline-block;
  .item-icon {
    height: 39px;
    float: left;
    i.iconfont {
      position: relative;
      font-size: 20px;
      color: #a1adbe;
    }
    i.icon-checkbox-active {
      color: #00a0ff;
    }
  }
  .item-label {
    height: 39px;
    line-height: 39px;
    float: left;
    padding-left: 8px;
    span {
      font-size: 14px;
      color: #223b53;
    }
  }
}
