.plugins-staff-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 2;
  display: none;
  &.active {
    display: block;
  }

  .label {
    height: 50px;
    line-height: 50px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    background-color: #f1f5f3;
  }
  .search-container {
    height: 60px;
    text-align: center;
    background-color: #f1f5f3;
    div.search {
      width: 80%;
      height: 60px;
      line-height: 60px;
      margin: 0 auto;
      position: relative;
      input {
        width: 90%;
        height: 35px;
        background-color: #fff;
        border-radius: 5px;
        margin: 0;
        padding: 0 5%;
        border: 0;
      }
      .am-icon {
        position: absolute;
        right: 12px;
        top: 22px;
        color: #b8bfc5;
      }
    }

  }

  .data-list {
    overflow: scroll;
    width: 100%;
    background-color: #fff;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-bottom: 1px solid #e3e6ea;
      }
      li.hidden {
        display: none;
      }
      li.data {
        span {
          position: absolute;
          left: 10px;
        }
        .am-icon {
          position: absolute;
          right: 10px;
          top: 12px;
          color: #299EE3;
          display: none;
        }
        &.active {
          span {
            color: #299EE3;
          }
          .am-icon {
            display: block;
          }
        }
      }

      li.add-input {
        input {
          position: absolute;
          left: 10px;
          height: 40px;
          line-height: 40px;
          width: 70%;
          border: 0;
          padding: 0;
        }
        .am-icon {
          position: absolute;
          right: 10px;
          top: 12px;
          color: #299EE3;
          display: none;
        }
        &.active {
          input {
            color: #299EE3;
          }
          .am-icon {
            display: block;
          }
        }
      }

      li.add-button {
        span {
          position: absolute;
          left: 30px;
        }
        .iconfont {
          position: absolute;
          left: 10px;
          top: 0px;
          color: #333;
        }
      }
    }
  }
  .select-name {
    height: 50px;
    line-height: 50px;
    font-size: 14px;
    text-align: left;
    padding: 0 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .button-list {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    .button {
      width: 150px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      text-align: center;
      position: absolute;
      top: 9px;
      font-size: 18px;
    }
    .cancel {
      left: 20px;
      background-color: #ffffff;
      border: 1px solid #299EE3;
      color: #299EE3;
    }
    .confirm {
      right: 20px;
      background-color: #299EE3;
      border: 1px solid #299EE3;
      color: #fff;
    }

  }
}

.am-list-item .am-list-line .am-list-extra {
  flex-basis: 56%;
}