.operate-container {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  background-color: #fff;
  z-index: 1;
  .button {
    width: 150px;
    height: 40px;
    line-height: 40px;
    border-radius: 20px;
    text-align: center;
    position: absolute;
    top: 9px;
    font-size: 18px;
  }
  .cancel {
    left: 20px;
    background-color: #ffffff;
    border: 1px solid #299EE3;
    color: #299EE3;
  }
  .confirm {
    right: 20px;
    background-color: #299EE3;
    border: 1px solid #299EE3;
    color: #fff;
    .loading {
      position: relative;
      top: 4px;
      right: 8px;
    }
  }
}
