.plugins-select-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3339;
  z-index: 2;
  display: none;
  &.active {
    display: block;
  }

  .data-list {
    position: absolute;
    height: 40%;
    bottom: 60px;
    left: 0;
    overflow: scroll;
    width: 100%;
    background-color: #fff;
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      width: 100%;
      li {
        width: 100%;
        height: 40px;
        line-height: 40px;
        position: relative;
        border-bottom: 1px solid #e3e6ea;
        span {
          position: absolute;
          left: 10px;
        }
        .am-icon {
          position: absolute;
          right: 10px;
          top: 12px;
          color: #299EE3;
          display: none;
        }
        &.active {
          span {
            color: #299EE3;
          }
          .am-icon {
            display: block;
          }
        }
      }
    }

  }
  .button-list {
    height: 60px;
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #fff;
    z-index: 2;
    .button {
      width: 150px;
      height: 40px;
      line-height: 40px;
      border-radius: 20px;
      text-align: center;
      position: absolute;
      top: 9px;
      font-size: 18px;
    }
    .cancel {
      left: 20px;
      background-color: #ffffff;
      border: 1px solid #299EE3;
      color: #299EE3;
    }
    .confirm {
      right: 20px;
      background-color: #299EE3;
      border: 1px solid #299EE3;
      color: #fff;
    }

  }
}

.am-list-item .am-list-line .am-list-extra {
  flex-basis: 56%;
}