.plugins-radio-groupitem-container {
  position: relative;
  width: 375px;
  min-height: 40px;
  background-color: #ffffff;
  .plugins-radio-groupitem-label {
    position: absolute;
    left: 0;
    top: 0;
    width: 58px;
    margin-left: 17px;
    min-height: 39px;
    line-height: 39px;
    font-size: 14px;
    color: #223b53;
    border-bottom: 1px solid #eef3f7;
    span {
      font-size: 14px;
      color: #f15d59;
    }
  }

  .plugins-radio-groupitem {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    min-height: 39px;
    border-bottom: 1px solid #eef3f7;
  }
}

.plugins-radio-group-container {
  min-height: 39px;
}

.plugins-radio-group-item {
  min-height: 39px;
  line-height: 39px;
  display: inline-block;
  .item-icon {
    min-height: 39px;
    float: left;
    i.iconfont {
      position: relative;
      font-size: 24px;
      color: #a1adbe;
    }
    i.icon-radio-active {
      color: #00a0ff;
    }
  }
  .item-label {
    min-height: 39px;
    line-height: 39px;
    float: left;
    padding-left: 5px;
    padding-right: 15px;
    span {
      font-size: 14px;
      color: #223b53;
    }
  }
}