.plugins-image-view-container {
  width: 150px;
  position: relative;

  .plugins-image-view-thumb {
    width: 100%;
    border-radius: 2px;
  }

  .plugins-image-view-src-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
    background-color: black;
    z-index: 10;
    text-align: center;
    .plugins-image-view-src {
      margin: 0 auto;
    }
  }
}