.plugins-video-view-container {
  width: 150px;
  height: 200px;
  position: relative;

  .plugins-video-view-thumb {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
    img {
      width: 50px;
      height: 50px;
    }
  }

  .plugins-video-view-src-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .video-close {
      position: fixed;
      top: 10px;
      right: 10px;
      width: 10px;
      height: 10px;
      line-height: 10px;
      color: #fff;
      font-size: 15px;
    }
    .plugins-video-view-src {
      border-radius: 2px;
      width: 80%;
      object-fit: fill;
    }
  }
}