<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta http-equiv="Expires" content="0">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Cache-control" content="no-cache">
  <meta http-equiv="Cache" content="no-cache">
  <title>院前急救</title>
  <link rel="shortcut icon" href="/favicon.ico?v=<%= commitId %>" type="image/x-icon" />
  <link rel="stylesheet" type="text/css" href="/icon_ph/iconfont.css?v=<%= commitId %>">
  <script>
    document.write('<script src="/config.js?v=<%= commitId %>&rom=' + new Date().getTime() + '" type="text/javascript"><\/script>');
  </script>
  <script type="text/javascript" src="http://webapi.amap.com/maps?v=1.4.12&key=18d73b33b83fcff88c7da65e188ac686"></script>
</head>

<body>
  <div id="root"></div>
</body>

</html>