
.cards {
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 45px;
  z-index: 9;
  padding: 6px 10px;
  color: #fff;
  line-height: 20px;
  font-size: 12px;
  right: 0px;
}
.map-container{
  position: absolute;
  left: 0;
  right: 0;
  top: 45px;
  bottom: 0;
}
